.footer {
  background: #25263a;;
  color: rgb(255 255 255 / 85%);
}

.rsschool {
  display: block;
  width: 80px;
  height: 30px;
  background-image: url("../../assets/svg/rs.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
